HTTP/2 connection preface

I've found a [forgotten feature](https://github.com/nodejs/http-parser/issues/489) from old c http parser.

Please see [HTTP method registry](https://www.iana.org/assignments/http-methods/http-methods.xml). `PRI` is a valid method. [RFC 7540](https://tools.ietf.org/html/rfc7540#section-11.6) defines the following:

```
11.6.  PRI Method Registration

   This section registers the "PRI" method in the "HTTP Method Registry"
   ([RFC7231], Section 8.1).

   Method Name:  PRI

   Safe:  Yes

   Idempotent:  Yes

   Specification document(s):  Section 3.5 of this document

   Related information:  This method is never used by an actual client.
      This method will appear to be used when an HTTP/1.1 server or
      intermediary attempts to parse an HTTP/2 connection preface.

```

HTTP 1.1 parser should not panic when he see HTTP/2 connection preface. It should provide reasonable result for user: everything is fine but we need to switch to HTTP/2 parser.

I don't see why we can't add `PRI` method to llhttp if this is what you are asking for?

Yes

PTAL: https://github.com/nodejs/llhttp/pull/50

When PRI happens, should llhttp also immediately pause/upgrade?

See #80.